{% extends "sentiment/base.html" %}

{% block content %}
    <div style="display: flex">
        <div style="flex-grow: 1"></div>
        <form method="POST" style="width:60%">
            {% csrf_token %}
            <textarea type="text" style="height: 300px;" class="form-control" name="sentence" title="Sentence" placeholder="Enter a sentence..."></textarea>
            <input class="form-control" type="submit">
        </form>
        <div style="flex-grow: 1"></div>
    </div>
{% endblock %}